@import "tailwindcss";

@theme {
  --color-p: #000000;
  --color-s: #ffffff;
  --color-t: #f2f2f2;
  --color-c: #090909;
  --color-bg: #060606;
  --color-bg-2: #dadada;

  --font-sans: var(--font-dm);

  /* HIGH QUERY */
  --breakpoint-ds: 1262px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  /* LOW QUERY */
  --breakpoint-mmd: 400px;
  --breakpoint-sm: 360px;
  --breakpoint-ssm: 321px;

  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}

::-webkit-scrollbar {
  display: none;
}
.will-change-clip {
  will-change: clip-path;
}

:root {
  --real-vh: 100vh;
}

@media (max-width: 768px) {
  :root {
    --real-vh: 100%;
  }
}

@supports (-webkit-touch-callout: none) {
  :root {
    --real-vh: calc(var(--vh, 1vh) * 100);
  }
}
