@import "tailwindcss";

@theme {
  --color-p: #000000;
  --color-s: #ffffff;
  --color-t: #f2f2f2;
  --color-c: #090909;
  --color-bg: #060606;
  --color-bg-2: #dadada;

  --font-sans: var(--font-dm);

  /* HIGH QUERY */
  --breakpoint-ds: 1262px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  /* LOW QUERY */
  --breakpoint-mmd: 400px;
  --breakpoint-sm: 361px;
  --breakpoint-ssm: 321px;
  /* CLOCK QUERY */
  --breakpoint-cl: 200px;

  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}

::-webkit-scrollbar {
  display: none;
}

.will-change-clip {
  will-change: clip-path;
}

:root {
  --real-vh: 100vh;
  --font-scale: 1.1;
}

@media (max-width: 768px) {
  :root {
    --real-vh: 100%;
  }
}

/* iOS Safari fix */
@supports (-webkit-touch-callout: none) {
  :root {
    --real-vh: calc(var(--vh, 1vh) * 100);
  }
}

.texts-global {
  font-size: clamp(0.95em, 0.8em + 0.6vw, 1rem);
  line-height: 1.32;
}

/* LG <= 992px */
@media (max-width: 992px) {
  .texts-global {
    font-size: clamp(0.9em, 0.78em + 1vw, 0.95em);
  }
}

/* MD <= 768px */
@media (max-width: 768px) {
  .texts-global {
    font-size: clamp(0.85em, 0.72em + 1.2vw, 0.9em);
  }
}

/* MMD <= 400px */
@media (max-width: 440px) {
  .texts-global {
    font-size: clamp(0.8em, 0.68em + 1.5vw, 0.85em);
  }
}

/* SM <= 361px */
@media (max-width: 380px) {
  .texts-global {
    font-size: clamp(0.7em, 0.62em + 1.8vw, 0.75em);
  }
}

/* SM <= 361px */
@media (max-width: 321px) {
  .texts-global {
    font-size: clamp(0.6em, 0.62em + 1.8vw, 0.65em);
  }
}

/* CL <= 200px */
@media (max-width: 200px) {
  .texts-global {
    font-size: clamp(0.65em, 0.55em + 2.5vw, 0.75em);
  }
}
