@import "tailwindcss";

/* @font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Hp2ywxg089UriCZOIHQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
} */

@theme {
  --color-p: #000000;
  --color-s: #ffffff;
  --color-t: #f2f2f2;
  --color-c: #090909;
  --color-bg: #060606;
  --color-bg-2: #dadada;

  --font-sans: var(--font-dm);

  --breakpoint-full-ds: 1900px;
  --breakpoint-ds: 1262px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 400px;
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --real-vh: 100vh;
}

@media (max-width: 768px) {
  :root {
    --real-vh: 100%;
  }
}

@supports (-webkit-touch-callout: none) {
  :root {
    --real-vh: calc(var(--vh, 1vh) * 100);
  }
}
